<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= appName %>></title>

    <link rel="stylesheet" href="assets/css/main.min.css">
</head>

<body>
    <header>
        <h1>Olá Mundo!</h1>
        <nav>
            <ul>
                <li>Home</li>
                <li>Sobre</li>
                <li>Contato</li>
            </ul>
        </nav>
    </header>
    <section class="content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad possimus eveniet exercitationem distinctio sequi voluptatem
            labore, obcaecati neque officia voluptas deserunt totam. Reiciendis earum possimus atque error non laudantium
            doloremque.
        </p>
    </section>

    <footer>

    </footer>

    <script src="assets/js/main.min.js"></script>
</body>

</html>